<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Work Log Entry</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Add Work Log Entry</h1>
    <form method="post" class="form-grid">
      <div class="form-row">
        <label class="form-label" for="pbi_number">PBI Number:</label>
        <input
          type="text"
          id="pbi_number"
          name="pbi_number"
          class="form-input"
          required
        />
      </div>

      <div class="form-row">
        <label class="form-label" for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          class="form-input"
          required
        ></textarea>
      </div>

      <div class="form-row">
        <label class="form-label" for="sprint">Sprint:</label>
        <input
          type="text"
          id="sprint"
          name="sprint"
          class="form-input"
          required
        />
      </div>

      <div class="form-row">
        <label class="form-label" for="effort">Effort (Story Points):</label>
        <input
          type="number"
          id="effort"
          step="1"
          name="effort"
          class="form-input"
          required
        />
      </div>

      <div class="form-row">
        <label class="form-label" for="comments">Comments:</label>
        <textarea id="comments" name="comments" class="form-input"></textarea>
      </div>

      <div class="button-container">
        <button type="submit" class="submit-button">Add Entry</button>
        <a href="/" class="back-button">Back to Work Log</a>
      </div>
    </form>
  </body>
</html>
